<body><form action="{{ url_for('index') }}" enctype="multipart/form-data" method="POST">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-6 form-group">
            <label>Name</label>
            <input type="text" name="name" placeholder="Name" class="form-control">
            {% for error in form.name.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
        </div>
        <div class="col-6 form-group">
            <label>RR Code</label>
            <input type="text" name="rr_code" placeholder="RR Code" class="form-control">
            {% for error in form.rr_code.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
        </div>
        <div class="col-12 form-group">
            <label>Wish</label>
            <input type="text" name="wish" placeholder="Wish" class="form-control">
            {% for error in form.wish.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
        </div>
        <div class="col-12 form-group">
            <label>Photo </label>
            <input type="file" name="photo" class="form-control-file">
            {% for error in form.photo.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
        </div>
        <div class="col-6 form-group">
            <label>Frequency1</label>
            <input type="number" value=0 name="frequency1" placeholder="Tone Frequency in Hz" step=".01" class="form-control">
            {% for error in form.frequency1.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
        </div>
        <div class="col-6 form-group">
            <label>Frequency2</label>
            <input type="number" value=0 name="frequency2" placeholder="Tone Frequency in Hz" step=".01" class="form-control">
            {% for error in form.frequency2.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
        </div>
        <div class="col-6 form-group">
            <label>Frequency3</label>
            <input type="number" value=0 name="frequency3" placeholder="Tone Frequency in Hz" step=".01" class="form-control">
            {% for error in form.frequency3.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
        </div>
        <div class="col-6 form-group">
            <label>Frequency4</label>
            <input type="number" value=0 name="frequency4" placeholder="Tone Frequency in Hz" step=".01" class="form-control">
            {% for error in form.frequency4.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
        </div>
        <div class="col-6 form-group">
            <label>Duration</label>
            <input type="number" name="duration" placeholder="Duration of Tone in Minutes" class="form-control">
            {% for error in form.duration.errors %}
                <small class="text-danger">{{ error }}</small>  
            {% endfor %}
        </div>
        <div class="col-12 form-group">
            <button class="btn btn-primary">Generate</button>
        </div>
    </div>
</form>
</body>